{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <h2 class="subtitle is-6">{{ .Date.Format "2006-01-02 " }}</h2>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <div class="content">
        {{ .Content }}
        {{ if .Site.Params.Info.related }}
        <div class="related">{{ partial "related" . }}</div>
        {{ end }}
      </div>
    </article>
    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}}

    <!-- Post Pagination -->
    <nav class="post-nav">
        {{ with .NextInSection }}
        <a class="prev" href="{{ .URL }}">
            < <span class="prev-text nav-default">{{ .Title }}</span>
                <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
        </a>
        {{- end }}
        {{ with .PrevInSection }}
        <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            >
        </a>
        {{- end }}
    </nav>

  </div>
 
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
