{{ define "title" }}404 page not found - {{ .Site.Title }}{{ end }}

{{ define "content" }}
<div class="not-found">
  <h1 class="error-emoji"></h1>
  <p class="error-text">/* 404 page not found. */</p>
  <p class="error-link"><a href="{{ "/" | relLangURL }}">↑ Back Home ↑</a></p>
  <div id="random_player" />
</div>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    'ヾ(≧∇≦*)ゝ', '(˚Δ˚)b', '(◑‿◐✿)', '(≥o≤)', '(✿◠‿◠)', '⁽(◍˃̵͈̑ᴗ˂̵͈̑)', '(*≧▽≦)', 'ﾍ(=￣∇￣)ﾉ', '∩(︶▽︶)∩',
    '٩(●˙▿˙●)۶…⋆ฺ', '(◍•ᴗ•◍)❤', '(ᗒᗨᗕ)', '∠( ᐛ 」∠)＿', '\\(^Д^)/', 'ᕕ( ᐛ )ᕗ', '(=^-ω-^=)', '( ﾉ^ω^)ﾉﾟ',
    '୧| ͡ᵔ ﹏ ͡ᵔ |୨', '(๑˃̵ᴗ˂̵)و', 'ヽ(⌐■_■)ノ♪♬', '(╬ಠ益ಠ)', 'ᕙ(⇀‸↼‶)ᕗ', '(⊙︿⊙✿)', '(●´⌓`●)', '工ｴｴｪｪ(;╹⌓╹)ｪｪｴｴ工',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));

  var videos = ["https://www.youtube-nocookie.com/embed/z3wa89TU3WU", "https://www.youtube.com/embed/FAzZQ9_HX4M" , "https://www.youtube.com/embed/XHuyxdVshQY"];
    window.onload = function () {
      var playerDiv = document.getElementById("random_player");
      var player = document.createElement("IFRAME");
      var randomVideoUrl = videos[Math.floor(Math.random() * videos.length)];
      player.setAttribute('width', '640');
      player.setAttribute('height', '390');
      player.setAttribute('src', randomVideoUrl);
      playerDiv.appendChild(player);
    };
</script>
{{ end }}
